<ion-view title="Documentos" id="pdf2">
  <ion-content padding="true" class="has-header">
  	
 <div class="list">
            <a class="item" href="#" onclick="window.open('', '_system', 'location=yes'); return false;">
                Documento 1
            </a>
            <a class="item" href="#" onclick="window.open('', '_system', 'location=yes'); return false;">
                Documento 2
            </a>
            <a class="item" href="#" onclick="window.open('http://www.filosofia.org/cla/pla/img/azf09057.pdf', '_system', 'location=yes'); return false;">
               Documento 3
            </a>
        </div>
  	
  </ion-content>
</ion-view>