<ion-view title="Signup" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form7" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input15">
          <span class="input-label">Nombre</span>
          <input type="text" data-ng-model ="nombre" placeholder="">
        </label>
        <label class="item item-input" id="signup-input16">
          <span class="input-label">Usuario</span>
          <input type="text" data-ng-model ="usuario" placeholder="">
        </label>
         <label class="item item-input" id="signup-input16">
          <span class="input-label">Correo</span>
          <input type="text" data-ng-model ="correo" placeholder="">
        </label>
        <label class="item item-input" id="signup-input17">
          <span class="input-label">Contraseña</span>
          <input type="text"  data-ng-model ="contra" placeholder="">
        </label>
         <label class="item item-input" id="signup-input16">
          <span class="input-label">confirmar contraseña</span>
          <input type="text" data-ng-model ="conficontra" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button22"  data-ng-click="registrar(this)"  class="button button-stable data  button-block">registrar</button>
    </form>
  </ion-content>
</ion-view>