 <ion-view title="Vuelo Ordinario" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="vueloOrdinario-heading1" style="color:#000000;">Periodo de Vuelo</h3>
    <div id="vueloOrdinario-container1">
      <form id="vueloOrdinario-form2" class="list">
        <ion-toggle toggle-class="toggle-dark" data-ng-model="dia_noche" id="vueloOrdinario-toggle9">Dia/Noche</ion-toggle>
 <label class="item item-select" id="mostrarDatos-select2">
        <span class="input-label">Pilotos</span>
         <select data-ng-model="contador" ng-options="lista.id as lista.texto  for lista in lista" ng-change="cantidadPilotos(lista[contador])">
      </select>
      </label>
        <label class="item item-input" id="vueloOrdinario-input22">
          <span class="input-label">Nº</span>
          <input data-ng-model="n" type="text" placeholder="N">
        </label>
        <label class="item item-input" id="vueloOrdinario-input23">
          <span class="input-label">Fecha</span>
          <input type="date" data-ng-model="fecha" placeholder="Fecha">
        </label>
        <label class="item item-input" id="vueloOrdinario-input24">
          <span class="input-label">Vuelo</span>
          <input type="text" data-ng-model="vuelo" placeholder="Vuelo">
        </label>
        <label class="item item-input" id="vueloOrdinario-input6">
          <span class="input-label">IPSV</span>
          <input type="time" data-ng-model="ipsv" placeholder="IPSV">
        </label>
        <label class="item item-input" id="vueloOrdinario-input5">
        <span class="input-label">TPSU</span>
        <input type="time" data-ng-model="tpsu" placeholder="TPSU">
      </label>
            <button id="vueloEspecial-button25-cal" data-ng-click="calcularHorasServicio(this)" class="button button-positive  button-block">Calcular</button>

<label class="item item-input" id="vueloOrdinario-input5">
        <span class="input-label"><font color="red">{{alerta_h}}</font></span>
      </label>
      </form>
    </div>
    <form id="vueloOrdinario-form4" class="list">
      
      <label class="item item-input" id="vueloOrdinario-input7">
        <span class="input-label">P.S.V</span>
        <input type="text" value="{{transcurridoHoras}} Hrs"    placeholder="">
      </label>
      <label class="item item-input" id="vueloOrdinario-input8">
        <span class="input-label">P.D</span>
        <input type="text" value="{{horaspd}} Hrs"   placeholder="">
      </label>
        <label class="item item-input" id="vueloOrdinario-input8">
        <span class="input-label">P.P.S</span>
        <input type="text" value="{{horaspps}} Hrs" placeholder="">
      </label>
                  <button id="vueloOrdinario-button25-guardar" data-ng-click="GuardarDatos()" class="button button-positive   button-block">Guardar</button>

    </form>
  </ion-content>
</ion-view>